/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  
  font-family: 'Roboto Condensed', ;
}

/*  apply a natural box layout model to all elements  */
* {
  
  box-sizing: border-box;
}



main
{
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  
}

// Header

#headerwrap {
  background-color: #fff;
  border-top: 10px solid #777;
}
header {
 display: flex;
 justify-content: space-between;
 padding-bottom: 5%;
 background-color: black;
}


header h1 {
  font-size: 1.5rem;
  letter-spacing: -.08rem;
  padding-top: .8rem;
  margin-top: 0;
  padding-left: 2%;
  color: #fff;

  font-family: 'Fjalla One', sans-serif;
}

header h2 {
  padding: 0.5rem 0 0 0;
  padding-left: 2%;
  color: #fff;
  font-size: 1rem;
  font-size: .8rem;
  letter-spacing: 0.215rem;
  letter-spacing: .1rem;
  font-family: 'PT Sans', sans-serif;
}


// Nav

nav button {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #555;
}


nav {
  background-color: #ccc;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: #000;
  border-top: 1px solid rgba(0,0,0,0.5)
}
nav ul li.active a {
  background-color: #000;
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0,0,0,0.4)
}

// ul.menu {
//   display: flex;
//   flex-direction: column;
// }
// nav ul li:first-child a {
//   border-left: none;
// }

// nav ul li a {
//   border-left: 1px solid rgb(95, 94, 94);
//   display: block;
//   background-color: darkgray;
//   color: #000;
//   text-decoration: none;
//   padding: 0.8rem 1rem;
// }

// ul.menu li {
//   width: 100%;
//   font-size: 1.4rem;
// }



// nav ul li a:hover {
//   background-color: darken(#fff, 10%);
//   color: white;
// }


// Main

main h1 {
  font-size: 2rem;
  padding-top: 2.6rem;
  padding-bottom: 1rem;

}

// div.flexed {
//   display: flex;
//   flex-wrap: wrap;
//   margin: 4% 0;
// }
// .column {padding: .5rem $gutter;}
// @for $i from 1 through 12 {
//   $w:($i/12) * 100%;
//   .small-#{$i}{flex-basis: $w;}
// }



// Footer

// #footerwrap {
//   background-color: $primaryColor;
// }

footer {
  display: flex;
  justify-content: center;
  background-color: black;
}
