header,
nav,
main,
footer {
  max-width: 64rem;
  margin: auto;
}

/*----------- BODY --------------*/

/*----------- HEADER --------------*/

/*  ----------------------- NAVIGATION --------------------------- */
nav {
  

  ul {
    margin: 0 0 0 2vw;
    padding: 0;
  }
  //Change to a horizontal menu bar
  ul > li {
    float: left;
    list-style: none;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }

  ul li:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

  //style the anchors
  ul li a {
    display: block;
    background: none;
    font-size: 0.9em;
    padding: 0.9em 0.9em;
    color: white;
    color: black;
    text-decoration: none;

    -webkit-transition: background 0.3s linear;
    transition: background 0.3s linear;
  }

  ul li a:hover {
    background-color: #ff6969;
  }

  #primaryNav li.parent > a::before {
    font-size: 0.75rem;
    content: "\25BC";
  }

  //rules for the sub menu items
  ul li ul {
    z-index: 998;
    position: absolute;
    background-color: #ff6969;
    left: -999em;
    width: 12em;
  }
  ul li ul li {
    width: 100%;
    border: none;
    border-top: solid 1px rgba(131, 130, 130, 0.2);
  }

  ul li:hover ul {
    left: auto;
    margin-left: 0;
  }

  li.current-menu-item a {
    background-color: darken(#ff6969, 10%);
  }
} // end nav

/*----------- MAIN --------------*/

form label.sbs {
  padding: 0.4rem 0;
}

h1 {
  margin-bottom: 0;
}

main {
  margin-bottom: 4%;
}

/*----------- FOOTER --------------*/
