/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#hamburgerBtn {
  display: none;
} /* hide the navigation button for all screen widths. We will show it below just for small screens */

@media only screen and (max-width: 64rem) {
  nav {
    position: absolute;
    // top:0;
    // left: 0;
    width: 100%;
    height: 2.75rem;
    background-color: black;
  }

  #hamburgerBtn {
    display: block;
    width: 7rem;
    height: 2.75rem;
    background: none;
    color: black;
    border: 0 none;
    font-size: 1.3rem;
    font-weight: normal;
    text-align: left;
    i {
      font-size: 1.4rem;
      font-style: normal;
    }
  }

  #hamburgerBtn.open span:nth-child(1) {
    display: none;
  }
  #hamburgerBtn.open span:nth-child(2) {
    display: block;
  }
  #hamburgerBtn span:nth-child(1) {
    display: block;
  }
  #hamburgerBtn span:nth-child(2) {
    display: none;
  }

  // unordered list Navigation Bar --------------------------------------------------------
  #primaryNav {
    height: 0; //hides the nav links
    overflow: hidden;
    width: 20rem;
    background-color: red;

    margin: 0;
    padding: 0;
    z-index: 998;
    font-family: Verdana;
    font-weight: normal;
  }

  #primaryNav li.current-menu-item a {
    background-color: darken(#ff6969, 10%);
  }

  #primaryNav li a {
    display: block;
    width: 100%;
    padding: 0.75rem 2vw;
    font-size: 14px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  #primaryNav li a:hover {
    background-color: #ff6969;
  }

  #primaryNav.open {
    height: auto;
  }

  #primaryNav li.parent > a::after {
    font-size: 0.75rem;
    content: "\25BC";
    color: rgba(255, 255, 255, 0.5);

    float: right;
  }

  #primaryNav li ul {
    display: none;
    background: rgba(0, 0, 0, 0.3);

    padding: 0;
    margin: 0;
  }

  #primaryNav li ul a {
    padding-left: 20px;
  }

  #primaryNav li:hover ul {
    display: block;
  }
}
