/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  background-color: rgb(245,245,245);
}

/*----------- HEADER --------------*/
header {
  h1{visibility: hidden;}
  padding: .7rem 0 .1rem 0;
  // background-color: rgb(230, 223, 184);
  // background-color: white;
//   background-image: url(../images/blueriverlogo2.png);
// background-repeat: no-repeat;

  display: flex;
  // border-bottom: 1px solid red;
  // align-items: center;
  // justify-content: flex-start;
.below {
  // margin-bottom: -.15rem;
  height: 58px;
  z-index: 999;
  position: relative;
  top: 24px;

}
  .logowords {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: .2rem;
    
    img {padding: .15rem 0 .05rem 0; margin-bottom: 0; width: 100%;
    }
    .sub {width: 97%;}
  }
  // img {
  //   width: 290px;
  //   padding: 2%;
    
  // }
}
// header h1 {
//   margin: 0;
//   font-size: 2.5rem;
  
//   padding-left: 0;
//   margin-left: 0;
// }
// header h2 {
//   margin: 0;
//   font-weight: normal;
// }

/*----------- NAVIGATION --------------*/
nav {
  // background-color: white;
  display: flex;
  justify-content: flex-end;
  color: black;
  color: rgb(225, 225, 225);
  
  border-top: 1.4px solid rgb(207,207, 212);
  
}

// .partial-border {
//   position: relative;
//   display: inline-block;
//   border-top: 1px solid rgb(207,207, 212);
//   position: absolute;
//   margin-bottom: 10px;
//   position: absolute;
//   width: 90%;
//   right: 80%;
// }
// // .partial-border:before {
// //   // content: '';
// //   border-top: 1px solid rgb(207,207, 212);
// //   position: absolute;
// //   width: 90%;
// //   left: 90%;
// //   bottom: 0;

// // }








/*----------- MAIN --------------*/
main {
  // padding: 0 2%;
  min-height: 10rem;
  // padding-top: 2.2rem;


#heroImg {
max-width: 60rem;
// display: flex; 
// justify-content: center;
margin-right: auto;
margin-left: auto;
  img{width: 100%;}
}
}

div.banner {
  margin-top: 10px;
  background-color: rgb(17,17,24);
  padding: 1rem;
  
  ul {margin-left: 9%; margin-top: 0; padding-top: 0;}
  
  
  h2 {color: rgb(251, 214, 68); padding: 0; margin-top: 0; margin-bottom: .4rem; font-size: 1.6rem;
  }
  .largerText{margin-top: .4rem; font-size: 2rem;}
  h4{padding:0; margin: 0;}
  section {
    padding-top: 1%;
    padding-bottom: 1.7%;
    color: white;
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
    display: grid; 
    grid-template-columns: 3fr 1fr;
    .leftalign {
      p {margin-top: 0;}
      p i{
        font-size: .8rem;padding-top: 0rem; padding-bottom: 2rem;
      }
    }
    .rightalign{display: flex; flex-direction: column; align-items: flex-end;
    h4{font-size: 1.2rem; padding-bottom: .15rem;}
    }
  }
}

#about {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
  h2 {font-size: 1.9rem; margin-bottom: 0;}
  h4 {font-size: 1.6rem; margin-top: .7rem; margin-bottom: .25rem; }
  h2, h4 {color: rgb(21,128, 175);}
  p {font-size: .85rem; margin-top: 0; padding-top: 0; line-height: 1.1rem;}
  .cards {
  background: radial-gradient(50% 20% at top, rgb(207, 207, 207), rgb(245, 245, 245));

    border-top: 1.4px solid rgb(207,207, 212);
  border-bottom: 1.4px solid rgb(207,207, 212);
  padding: 1rem 0 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    .single {
      img {width: 100%;}
      p {color:rgb(185, 184, 184);}
    }
  }
}

#additionalinfo {
  background: radial-gradient(50% 20% at top, rgb(207, 207, 207), rgb(245, 245, 245));
  h3 {color:rgb(21,128, 175); font-size: 1.6rem; margin-top: .5rem; margin-bottom: .5rem;}
  p {color:rgb(185, 184, 184); font-size: .85rem; margin-top: 0; padding-top: 0;}
 padding: 0rem 0 2rem 0;
 
//  margin-top: 1rem;
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  // gap: 15px;
  padding-top: 2%;
grid-template-columns: 2fr 1fr;
// .main {margin-right: 10px;}
  .specs {display: flex;
    div {margin-right: 20px;}
    img {width: 100%;}
  }
.bottomtext {margin-right: 20px;
p {margin-top: 0;padding-top: 0; font-size: .85rem;}
h3 {margin-bottom: .5rem; margin-top: .5rem;}
}
}

.aside {
  margin-right: 0;
  background-color: white;
display: flex;
flex-direction: column;
align-items: center;
p{font-size: .6rem;}
img {width: 100%;}
button {background-color: rgb(21,129, 175);
color: white; 
padding: .25rem 3rem;
margin-bottom: .6rem;
margin-top:.6rem;
border-radius: 13px;
font-size: 1.3rem;

}
}


section#clients {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1.3rem 0;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 22px;
  img {width: 100%;}
}




/*----------- FOOTER --------------*/
footer {
  // background-color: black;
  color: white;
  padding: .5rem 0;
  
  font-size: 0.9rem;

  

}

.footerdiv {
  background-image: linear-gradient(rgb(21,129,174), rgb(6,64,99));
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
