// Header

header h1 {
  padding-left: 0.4rem;
  font-size: 2.7rem;
  letter-spacing: -0.1rem;
  margin-top: 0;
}

header h2 {
  padding-left: 0.4rem;
  font-size: 1.1rem;
  letter-spacing: 0.55rem;
  padding-top: 0;
}

header h1 {
  padding-top: 1.7rem;
}

figure.logo {
  margin-top: 0;
}

// Navigation

ul.menu li {
  width: auto;
  text-align: center;
}

figure.mainbossimg {
  margin-top: 10%;
}

//   Main

main {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1.5%;
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
