/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: red;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #666;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    // display: flex;
}
nav ul li {
    float: left;
    width: 33.33%;
    
}
nav ul li a {
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    color: #eee;
    border-left: 1px solid #777;
    padding: .9rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0;
    min-height: 10rem;
    margin-bottom: 8%;
    
}
div#myCards {
    display: grid;
    grid-template-columns: 1fr;
    
.eachCard {
    background-color:lightgray;
    margin-bottom: 1rem;
}    
    
.contactInfo {
    display:grid;
    grid-template-columns: 1fr 1fr;
grid-column-gap: 4%;
    padding:3% 1% 0 1%;
    font-size: .9rem;
    
}

.addressBlock {
    display: flex;
    align-items: flex-start;
    padding-left: 5%;
    p {margin-top: 0; padding-left: .5rem;}
}

.phoneBlock {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    p {margin-top: 0; padding-left: .5rem;}
}

}
figure {
    position: relative;
    margin: 0;
    width: 94%;
    padding-top: 3%;
    margin-right: auto;
    margin-left: auto;
    img{width: 100%;}
}
figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    color: white;
    padding:.3rem 2%;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
    visibility: hidden;
    
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}