#pageWrapper {
  grid-template-areas: 
  "header"
  "navigation"
  "content"
  "footer";
  grid-template-columns: auto;
 
}


header, main, nav, footer {
width: 100%;
padding-left: 6%;
padding-right: 6%;
}

header {padding-left: 5%; padding-top: 1%; padding-bottom: 0;
  img {width: 300px;}

}
main {padding-left: 6%;}



   nav {
     padding-top: .1rem;
    padding-bottom: .1rem;
  }
  
  
  nav ul {
    display: flex;
    flex-flow: row;
  }
  
  nav ul li {
      width: auto;
      text-align: center;
      font-size: .9rem;
      
    }
  
   nav ul li a {
    padding: .62rem 1rem;
    border: none;
    border-right: 1px solid rgba(197,197,196,0.3);
    text-align: center;
   } 
  

   .picdiv {
  
      grid-template-columns: auto 33%;
      
      p{padding-right: 3%; font-size: 1.2rem; line-height: 1.7rem;}
    img {
      padding-top: 4.5rem;
    }
    }
    .picdiv2 {
      
      display: grid;
      grid-template-areas: 
      "imagefloat textfloat";
        grid-template-columns: 33% auto;
      p{padding-left: 3%; font-size: 1.2rem; line-height: 1.7rem;}
      h3 {padding-left: 3%;}
      img {
        padding-top: 3rem;
      }
      }
   
main {padding-top: 3%; margin-bottom: 3%;}

footer {padding-top: .4rem; padding-bottom: .4rem;}