#pageWrapper {
  grid-template-areas: 
  "header"
  "navigation"
  "content"
  "footer";
  grid-template-columns: auto;
 
}


header, main, nav, footer {
width: 100%;
// margin-left:auto;
// margin-right: auto;
padding-left: 6%;
padding-right: 6%;
}

header {padding-left: 5%; padding-top: 1%; padding-bottom: 0;
  img {width: 300px;}

}
main {padding-left: 6%;}

// .headerwrap {
//   width: 100%;
// }

// header {
//   padding-bottom: 0;
// }


// header h1 {
//     padding-left: .5rem;

// }

// header h1 {
//     font-size: 3.2rem;
//   }

// header h2 {
//     padding-left: .6rem;
    
// }

// header h2 {
//     font-size: 1.3rem;
//     letter-spacing: 0.04rem;
//   }

// // nav {display: flex; flex-direction: row; width: 100%;}
// nav ul {display: flex;}

// nav ul li {
//       // width: auto;
//       text-align: center;
//       // flex-basis: 25%;
//       font-size: .9rem;
//       flex-basis: auto;
//     padding: .6rem 1rem;
//     }
  
//    nav ul li a {
//     // padding: .6rem 1rem;
//     // border: none;
//     // border-right: 1px solid rgba(197,197,196,0.3);
   
//     // display: flex;
//     // flex-direction: row;
//     text-align: center;
//    } 

   nav {
     padding-top: .1rem;
    padding-bottom: .1rem;
  }
  
  
  nav ul {
    display: flex;
    flex-flow: row;
  }
  
  nav ul li {
      width: auto;
      text-align: center;
      font-size: .9rem;
      
    }
  
   nav ul li a {
    padding: .62rem 1rem;
    border: none;
    border-right: 1px solid rgba(197,197,196,0.3);
    text-align: center;
   } 
  


   .picdiv {
  
      grid-template-columns: auto 33%;
      
      p{padding-right: 3%; font-size: 1.2rem; line-height: 1.7rem;}
    // grid-template-columns: 1fr 1fr;
    img {
      padding-top: 4.5rem;
      // align-self: center;
    }
    }
    .picdiv2 {
      
      display: grid;
      grid-template-areas: 
      "imagefloat textfloat";
        grid-template-columns: 33% auto;
      // grid-template-columns: 1fr 1fr;
      p{padding-left: 3%; font-size: 1.2rem; line-height: 1.7rem;}
      h3 {padding-left: 3%;}
      img {
        padding-top: 3rem;
        // align-self: center;
      }
      }
   
main {padding-top: 3%; margin-bottom: 3%;}

footer {padding-top: .4rem; padding-bottom: .4rem;}