
#pageWrapper {
  
  grid-template-areas: 
  "header header"
  "navigation content"
  "footer footer";
  grid-template-columns: 150px auto;
  grid-template-rows: auto;
}

header {
  padding-left: 2%;
  padding-bottom: 1%;
}


nav {
  height: auto;  
}


a.myjump {display: none;}

#hamburger {display: none;}

nav ul {
  display: block;
  flex-flow: column;
}

nav ul li {
    width: auto;
    text-align: center;
    // flex-basis: 25%;
    font-size: .9rem;
    color: white;
  }


h3{font-size: 1.5rem;}

.picdiv {
  
display: grid;
  grid-template-columns: auto 220px;
  
  p{padding-right: 3%; font-size: 1.2rem; font-size: 1.1rem; line-height: 1.6rem;}
img {
  padding-top: 4.5rem;
  
}
}
.picdiv2 {
  
  display: grid;
  grid-template-areas: 
  "imagefloat textfloat";
    grid-template-columns: 220px auto;
  
  p{padding-left: 3%; font-size: 1.2rem; font-size: 1.1rem; line-height: 1.6rem;}
  h3 {padding-left: 3%;}
  img {
    padding-top: 4.5rem;
  }
  }

.secondText {
  grid-area: textfloat;
}
  
.floatleft {
  grid-area: imagefloat;
}  

main h1 {padding-top: 0;}
  