/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */


/*  apply a natural box layout model to all elements  */
* {
  // font-family: $mainFont;
  box-sizing: border-box;
}

header,
nav,
main,
footer {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

// Header

header {
  // background-image: linear-gradient(
  //     rgba(255, 255, 255, 0.7),
  //     rgba(255, 255, 255, 0.8)
  //   )
    // url(../images/bostonheader.jpg);
  background-position: 1% 65%;
  background-size: 100%;
  padding-bottom: 0.5%;
}

header h1,
header h2 {
  color: black;
}
header h1 {
  padding: 0;
  padding-bottom: 0.25rem;

  padding-top: 5%;
  font-size: 1.9rem;
  letter-spacing: 0.15rem;
  padding-left: 1%;
}
header h2 {
  letter-spacing: 0rem;
  padding-bottom: 0.5%;
  
  font-size: 0.9rem;
  padding-left: 1%;
}

// Nav

nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #eee;
}

// nav {
//   background-color: $phoneprimaryColor;
// }

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  font-size: 0.9rem;
  padding: 0.75rem 2%;
  text-decoration: none;
  color: #fff;
  border-top: 1px solid rgba(197, 196, 196, 0.5);
}
nav ul li.active a {
  // background-color: darken($phoneprimaryColor,10%);
  color: #fff;
}

nav ul li a:hover {
  // background-color: lighten($phoneprimaryColor,15%);
  color: #fff;
}

nav ul.hide {
  display: none;
}

// Main

main {
  margin: 0 auto;
  padding: 0;
}

main h1 {
  font-size: 1.9rem;
  margin-bottom: 0.8rem;
  padding-left: 1%;
}











// Footer

footer {
  color: white;
  background-color: rgb(92, 89, 77);
  display: flex;
  justify-content: center;
}

footer p {
  padding: 1rem 0;
  font-size: 0.9rem;
}

