/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */


/*  apply a natural box layout model to all elements  */
* {
  // font-family: $mainFont;
  box-sizing: border-box;
}

#pageWrapper {
  display: grid;
  grid-template-areas: 
  "hamburger"
  "header"
  "content"
  "footer"
  "navigation";
 
}




// Header

header {
  grid-area: header;
  background: url(../images/tiny-squares.png);
  
// background-image: url('../images/tiny-squares.png');
// background-color: rgba(255,255,255,.9);

background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)),
                  url("../images/tiny-squares.png");

  width: 100vw;
  padding-left: 2%;
  // background-image: linear-gradient(
  //     rgba(255, 255, 255, 0.7),
  //     rgba(255, 255, 255, 0.8)
  //   )
    // url(../images/bostonheader.jpg);
  // background-position: 1% 65%;
  // background-size: 100%;
  // padding-bottom: 0.5%;
  img {width: 300px;}
}

header h1,
header h2 {
  color: black;
}
// header h1 {
//   padding: 0;
//   padding-bottom: 0.25rem;

//   padding-top: 5%;
//   font-size: 1.9rem;
//   letter-spacing: 0.15rem;
//   padding-left: 1%;
// }
// header h2 {
//   letter-spacing: 0rem;
//   padding-bottom: 0.5%;
  
//   font-size: 0.9rem;
//   padding-left: 1%;
// }

// Nav

// nav button {
//   margin: 0.2rem 2%;
//   background-color: transparent;
//   border: none;
//   font-size: 1.6rem;
//   color: #eee;
// }

// nav {
//   background-color: $phoneprimaryColor;
// }

nav {
  grid-area: navigation;
  // width: 100vw;
  width: 100%;
  padding-top: 1.5rem;
  height: 100vh;
  background-color: rgb(44, 44, 247);
  
 
}

// nav ul {
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
// }

// nav ul {
//   display: flex;
//   flex-wrap: wrap;
// }

nav ul li a {
  display: block;
  font-size: 1.1rem;
  padding: 0.75rem 2%;
  text-decoration: none;
  color: #fff;
  // border-top: 1px solid rgba(197, 196, 196, 0.5);
  text-align: center;
}

.ex {
  // text-align: start;
  padding: 2rem;
  color: white;
  text-decoration: none;
}
// nav ul li.active a {
//   // background-color: darken($phoneprimaryColor,10%);
//   color: #fff;
// }

// nav ul li a:hover {
//   // background-color: lighten($phoneprimaryColor,15%);
//   color: #fff;
// }



// Main

main {
  // margin: 0 auto;
  // padding: 0;
  grid-area: content;
background-color: white;
}

main {
  padding: 2%;
}


// main h1 {
//   font-size: 1.9rem;
//   margin-bottom: 0.8rem;
//   padding-left: 1%;
// }


div#hamburger {
  grid-area: hamburger;
  background-color: blue;
  padding: 1.5rem;
 a { color: white;
text-decoration: none;
}
}


a.myjump {
  display: block;
  width: 60px;
  font-size: 1.7rem;
  padding: .4rem;
}






// Footer

footer {
  grid-area: footer;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}

footer p {
  padding: 1rem 0;
  font-size: 0.9rem;
}

// #footerWrap {
  
// }