/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    
    font-family: 'Nunito Sans', sans-serif;

}


/*----------- HEADER --------------*/
header {
    padding: 1.3rem 2% 1.2rem 2%;
    background-color: rgb(245, 190, 39);
    color: black;
   text-align: center;
   
}
header h1 {font-size: 1.8rem; margin: 0; margin-bottom: .5rem; font-family: 'Raleway', sans-serif;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem;}

/*----------- NAVIGATION --------------*/




/*----------- MAIN --------------*/


body {background-color: #efefef;}

main {
    h1 {
        text-align: center;
        margin-top: 1.8rem;
        margin-bottom: .5rem;
        font-size: 1.6rem;
    }
p{text-align: center; margin-bottom: 2rem; font-size:.9rem; margin-top: 0; padding-top: 0;}
h2{text-align: center;
color: rgb(209, 160, 27); padding: .4rem 0 1.2rem 0;
}
    padding: 0 2%;
   
    #weatherforecast {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        
        
        div.dayDiv {
            border: 2px solid  rgb(143, 143, 141);
            text-align: center;
            background-color: rgb(144, 223, 247);
            min-height: 230px;
            display: flex;
            flex-direction: column;
            
            
            span {
                
            
                padding: 0px 20px 3px;
                background-color: rgb(80, 80, 78);
                color: white;
                
                font-size: 1.3rem;
            }
            p {
                font-size: 1.4rem;
                padding-top: 3.2rem;
                padding-bottom: 0;
                margin-bottom: 1rem;
            }
            img {
                width: 80px;
                align-self: center;
            }
        }
    }



}


/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .3rem 2%;
    text-align: center;
    margin-top: 75px;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}