/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-shape-outside: circle();
  shape-outside: circle();
  font-family: 'Roboto Condensed', ;
}

/*  apply a natural box layout model to all elements  */
* {
  
  box-sizing: border-box;
}

header,
nav,
main,
footer, #barline {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

// Header


header {
  background-color: black;
  background-image: url(../images/lightning.png);
  background-position-y: 55%;
  background-position-x: 90%;
  background-repeat: no-repeat;
 
}



header h1 {
  font-size: 3.3rem;
  padding-top: 2rem;
  padding-left: 2%;
  color: #fff;
  font-family: 'Lacquer', ;
}

header h2 {
  padding: 0.5rem 0;
  padding-left: 2%;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 0.18rem;
}

#barline {
  background-color: $secondaryBright;
  padding: .3% 0;
}

// Nav

nav {
  background-color: $headerFooter;
}

ul.menu {
  display: flex;
}
nav ul li:first-child a {
  border-left: none;
}

nav ul li a {
  border-left: 1px solid rgb(95, 94, 94);
  display: block;
  background-color: darkgray;
  color: #000;
  text-decoration: none;
  padding: 0.8rem 1rem;
}

ul.menu li {
  width: 25%;
  text-align: center;
}

.active a {
  background-color: $activeState;
  color: #fff;
}

nav ul li a:hover {
  background-color: lighten($activeState, 15%);
  color: #000;
}

nav ul li a {
  padding: 0.8rem 0.6rem;
}


// Main

main h1 {
  font-size: 2rem;
  padding-top: 2.6rem;
  padding-bottom: 1rem;
  color: rgb(196, 13, 196);
}

main {
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;

 
  p {
    padding: 0;
    line-height: 1.5rem;
  }
  h2 {
    font-size: 1.4rem;
    padding: 1rem 1rem 0.1rem 0;
    color: $secondaryBright; 
  }
}

// Specific to bio section

h2.subtitle {
  font-size: 1.8rem;
  color: rgb(196, 13, 196);
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.member_stories h2 {
  margin-bottom: 3%;
}

.member_stories {
  display: grid;
  grid-template-columns: 1fr;
}

// Images

figure.circle img {
  float: right;
  clip-path: circle(50%);
  shape-outside: circle(50%);
}


figure.quarter img {
  float: right; 
  clip-path: circle(94% at 100% 0);
shape-outside: circle(96% at 100% 0);
// shape-outside: inset(2px 2px 2px 2px);
}


figure.bigtriangle img {
  float: right;
  clip-path: polygon(50% 0, 0 93%, 100% 93%);
  shape-outside: polygon(50% 0, 0 93%, 100% 93%);
  margin: .21rem; 
}

figure.corner-triangle img {
  float: right; 
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  shape-outside: polygon(100% 0, 0 0, 100% 100%);
  margin: .16rem;
}

// Footer


footer {
  display: flex;
  justify-content: center;
  background-color: $headerFooter;
}

footer p {
  padding: 1.2rem;
}

// Lazy load images

.concertpics figure {
  width: 100%;
  height: 0;
  padding-bottom: 35%; /* You define this doing image height / width * 100% */
  position: relative;
  margin:0;
}
.concertpics figure img {
  width: 100%;
  height: auto;
  position: absolute;
}