/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header,
nav,
main,
footer {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: black;
}

header h1 {
  font-size: 2rem;
  padding-top: 2.7rem;
  padding-left: 2%;
  color: #fff;
  
}

header h2 {
  padding: 0.5rem 0;
  padding-left: 2%;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
}

nav {
  background-color: lightblue;
}

ul.menu {
  display: flex;
}
nav ul li:first-child a {
  border-left: none;
}

nav ul li a {
  border-left: 1px solid rgb(95, 94, 94);
  display: block;
  background-color: darken(#fff, 25%);
  color: white;
  text-decoration: none;
  padding: 0.8rem 1rem;
}

ul.menu li {
  width: 25%;
  text-align: center;
}

.active a {
  background-color: rgb(143, 71, 45);
  color: #fff;
}

nav ul li a:hover {
  background-color: lighten(rgb(143, 71, 45), 15%);
  color: #000;
}

nav ul li a {
  padding: 0.8rem 0.6rem;
}

main h1 {
  font-size: 2rem;
  padding-top: 2.6rem;
  padding-bottom: 1.7rem;
  color: rgb(143, 71, 45);
  color: lighten(rgb(143, 71, 45), 15%);
 
}

main {
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
  p {
    padding: 0.5rem 0;
    line-height: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
    padding: 1.8rem 1rem 0.1rem 0;
    color: rgb(58, 143, 58); 
  }
}

footer {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

footer p {
  padding: 1.2rem;
}



