/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
/*  apply a natural box layout model to all elements  */
* {
  box-sizing: border-box; }

#pageWrapper {
  display: grid;
  grid-template-areas: "hamburger" "header" "content" "footer" "navigation"; }

header {
  grid-area: header;
  background: url(../images/tiny-squares.png);
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), url("../images/tiny-squares.png");
  width: 100vw;
  padding-left: 2%; }
  header img {
    width: 300px; }

header h1,
header h2 {
  color: black; }

nav {
  grid-area: navigation;
  width: 100%;
  padding-top: 1.5rem;
  height: 100vh;
  background-color: #2c2cf7; }

nav ul li a {
  display: block;
  font-size: 1.1rem;
  padding: 0.75rem 2%;
  text-decoration: none;
  color: #fff;
  text-align: center; }

.ex {
  padding: 2rem;
  color: white;
  text-decoration: none; }

main {
  grid-area: content;
  background-color: white; }

main {
  padding: 2%; }

div#hamburger {
  grid-area: hamburger;
  background-color: blue;
  padding: 1.5rem; }
  div#hamburger a {
    color: white;
    text-decoration: none; }

a.myjump {
  display: block;
  width: 60px;
  font-size: 1.7rem;
  padding: .4rem; }

footer {
  grid-area: footer;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center; }

footer p {
  padding: 1rem 0;
  font-size: 0.9rem; }

@media only screen and (min-width: 500px) {
  #pageWrapper {
    grid-template-areas: "header header" "navigation content" "footer footer";
    grid-template-columns: 150px auto;
    grid-template-rows: auto; }

  header {
    padding-left: 2%; }

  nav {
    height: auto; }

  a.myjump {
    display: none; }

  #hamburger {
    display: none; }

  nav ul {
    display: block;
    flex-flow: column; }

  nav ul li {
    width: auto;
    text-align: center;
    font-size: .9rem;
    color: white; } }
@media only screen and (min-width: 920px) {
  #pageWrapper {
    grid-template-areas: "header" "navigation" "content" "footer";
    grid-template-columns: auto; }

  header, main, nav, footer {
    width: 100%;
    padding-left: 6%;
    padding-right: 6%; }

  header {
    padding-left: 5%; }

  main {
    padding-left: 6%; }

  nav {
    padding-top: .1rem;
    padding-bottom: .1rem; }

  nav ul {
    display: flex;
    flex-flow: row; }

  nav ul li {
    width: auto;
    text-align: center;
    font-size: .9rem; }

  nav ul li a {
    padding: .6rem 1rem;
    border: none;
    border-right: 1px solid rgba(197, 197, 196, 0.3);
    text-align: center; } }

/*# sourceMappingURL=styles.css.map */
