/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* change colours to suit your needs */
ins { background-color: #ff9; color: #000; text-decoration: none; }

/* change colours to suit your needs */
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

/* change border colour to suit your needs */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: "Roboto", sans-serif; }

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

header, nav, main, footer { max-width: 60rem; margin-left: auto; margin-right: auto; }

#headerwrap { background-image: url(../images/smallheader.jpg); height: 182px; }

header h1 { font-size: 2rem; padding-top: 2.7rem; padding-left: 2%; color: #fff; font-family: "Poppins", sans-serif; }

header h2 { padding: 0.5rem 0; padding-left: 2%; color: #fff; font-size: 1.3rem; letter-spacing: 0.3rem; }

#navwrap { background-color: #ddd; }

ul.menu { display: flex; }

nav ul li:first-child a { border-left: none; }

nav ul li a { border-left: 1px solid #5f5e5e; display: block; background-color: #848484; color: #fff; text-decoration: none; padding: 0.8rem 1rem; }

ul.menu li { width: 25%; text-align: center; }

.active a { background-color: #8f472d; color: #fff; }

nav ul li a:hover { background-color: #c46644; color: #000; }

nav ul li a { padding: 0.8rem 0.6rem; }

main h1 { font-size: 2rem; padding-top: 2.6rem; padding-bottom: 1.7rem; color: #8f472d; color: #c46644; font-family: "Poppins", sans-serif; }

main { padding-bottom: 4%; padding-left: 2%; padding-right: 2%; }
main p { padding: 0.5rem 0; line-height: 1.5rem; }
main h2 { font-size: 1.3rem; padding: 1.8rem 1rem 0.1rem 0; color: #3a8f3a; }

#footerwrap { background-color: #ddd; color: #111; display: flex; }

footer p { padding: 1.2rem; }

div.beaver { display: flex; }

.beaverimg { position: relative; animation: scurry 2s 3; }

.sticksimg { background-position: bottom; transform: rotate(120deg); margin-left: 15px; margin-top: 30px; }

@keyframes scurry { 0% { left: 0px; transform: rotate(0deg); }
  5% { transform: rotate(2deg); }
  25% { left: 10px; transform: rotate(-2deg); }
  45% { left: 29px; transform: rotate(0deg); }
  60% { left: 42px; transform: rotate(10deg); }
  66% { left: 48px; transform: rotate(18deg); }
  68% { left: 49px; transform: rotate(20deg); }
  70% { left: 50px; transform: rotate(23deg); }
  75% { left: 49px; }
  80% { left: 47px; }
  85% { left: 40px; }
  88% { left: 32px; }
  90% { left: 30px; }
  91% { left: 25px; }
  92% { left: 21px; }
  93% { left: 16px; }
  94% { left: 12px; }
  96% { left: 10px; }
  98% { left: 5px; }
  100% { left: 0px; } }
div.bear { display: flex; }

div.bear img { position: relative; animation: walk 2s 1; }

@keyframes walk { 0% { left: 0px; bottom: 0px; transform: rotate(-2deg); }
  5% { bottom: 6px; transform: rotate(0deg); }
  10% { bottom: -1px; transform: rotate(2deg); }
  15% { bottom: -3px; transform: rotate(5deg); }
  17% { bottom: 0px; transform: rotate(4deg); }
  20% { bottom: 8px; transform: rotate(2deg); }
  25% { bottom: 6px; transform: rotate(0deg); }
  50% { bottom: 8px; left: 200px; transform: rotateY(180deg); transform: rotate(-20deg); }
  52% { bottom: 8px; left: 200px; transform: rotateY(180deg); transform: rotate(0deg); }
  55% { bottom: 3px; transform: rotate(0deg); transform: rotateY(180deg); }
  60% { bottom: -3px; transform: rotate(3deg); transform: rotateY(180deg); }
  75% { bottom: -2px; transform: rotate(5deg); transform: rotateY(180deg); }
  80% { bottom: 3px; transform: rotate(2deg); transform: rotateY(180deg); }
  90% { bottom: 5px; transform: rotateY(180deg); }
  100% { left: 0px; transform: rotateY(180deg); } }
@media only screen and (min-width: 560px) { ul.menu li { width: auto; text-align: center; }
  ul.menu { padding-left: .6rem; }
  nav ul li a { padding: .8rem 1.6rem; }
  #headerwrap { background-image: url(../images/mediumheader.jpg); height: 300px; } }
@media only screen and (min-width: 960px) { main { padding-left: 1%; padding-right: 1%; }
  header h1 { padding-left: .4rem; }
  header h2 { padding-left: .4rem; }
  header h1 { padding-top: 1.7rem; }
  #headerwrap { background-image: url(../images/HeaderLarge.jpg), url(../images/HeaderRepeat.png); height: 300px; background-position: center, center; background-repeat: no-repeat, repeat; } }
