/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
/*  apply a natural box layout model to all elements  */
* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box; }

header,
nav,
main,
footer {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto; }

header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8)), url(../images/bostonheader.jpg);
  background-position: 1% 65%;
  background-size: 100%;
  padding-bottom: 0.5%; }

header h1 {
  padding: 0;
  padding-bottom: 0.25rem;
  font-family: "Oswald", sans-serif;
  padding-top: 5%;
  font-size: 1.9rem;
  letter-spacing: 0.15rem;
  padding-left: 1%; }

nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #eee; }

nav {
  background-color: rgba(177, 7, 44, 0.9); }

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

nav ul li a {
  display: block;
  font-size: 0.9rem;
  padding: 0.75rem 2%;
  text-decoration: none;
  color: #fff;
  border-top: 1px solid rgba(197, 196, 196, 0.5); }

nav ul li.active a {
  background-color: rgba(128, 5, 32, 0.9);
  color: #fff; }

nav ul li a:hover {
  background-color: rgba(246, 15, 65, 0.9);
  color: #fff; }

nav ul.hide {
  display: none; }

main {
  margin: 0 auto;
  padding: 0; }

main h1 {
  font-size: 1.9rem;
  margin-bottom: 0.8rem;
  padding-left: 1%; }

footer {
  color: white;
  background-color: #5c594d;
  display: flex;
  justify-content: center; }

footer p {
  padding: 1rem 0;
  font-size: 0.9rem; }

@media only screen and (min-width: 500px) {
  header h1 {
    font-size: 2.6rem;
    padding-top: 4rem;
    padding-left: 1%; }

  header h2 {
    font-size: 1.11rem;
    padding-left: 1%;
    letter-spacing: .02rem; }

  nav button {
    display: none; }

  nav ul.hide {
    display: flex; }

  nav {
    background: linear-gradient(rgba(177, 7, 44, 0.7), rgba(177, 7, 44, 0.95)); }

  nav ul {
    display: flex; }

  nav ul li {
    width: auto;
    text-align: center;
    font-size: .9rem; }

  nav ul li a {
    padding: .6rem 1rem;
    border: none;
    border-right: 1px solid rgba(197, 197, 196, 0.3); } }
@media only screen and (min-width: 920px) {
  header {
    padding-bottom: 0; }

  header h1 {
    padding-left: .5rem; }

  header h1 {
    font-size: 3.2rem; }

  header h2 {
    padding-left: .6rem; }

  header h2 {
    font-size: 1.3rem;
    letter-spacing: 0.04rem; } }

/*# sourceMappingURL=styles.css.map */
