/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-shape-outside: circle();
  shape-outside: circle();
  font-family: "Roboto Condensed"; }

/*  apply a natural box layout model to all elements  */
* {
  box-sizing: border-box; }

header,
nav,
main,
footer, #barline {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto; }

header {
  background-color: black;
  background-image: url(../images/lightning.png);
  background-position-y: 55%;
  background-position-x: 90%;
  background-repeat: no-repeat; }

header h1 {
  font-size: 3.3rem;
  padding-top: 2rem;
  padding-left: 2%;
  color: #fff;
  font-family: "Lacquer"; }

header h2 {
  padding: 0.5rem 0;
  padding-left: 2%;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 0.18rem; }

#barline {
  background-color: #065bf8;
  padding: .3% 0; }

nav {
  background-color: lightgray; }

ul.menu {
  display: flex; }

nav ul li:first-child a {
  border-left: none; }

nav ul li a {
  border-left: 1px solid #5f5e5e;
  display: block;
  background-color: darkgray;
  color: #000;
  text-decoration: none;
  padding: 0.8rem 1rem; }

ul.menu li {
  width: 25%;
  text-align: center; }

.active a {
  background-color: #c40dc4;
  color: #fff; }

nav ul li a:hover {
  background-color: #f12cf1;
  color: #000; }

nav ul li a {
  padding: 0.8rem 0.6rem; }

main h1 {
  font-size: 2rem;
  padding-top: 2.6rem;
  padding-bottom: 1rem;
  color: #c40dc4; }

main {
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%; }
  main p {
    padding: 0;
    line-height: 1.5rem; }
  main h2 {
    font-size: 1.4rem;
    padding: 1rem 1rem 0.1rem 0;
    color: #065bf8; }

h2.subtitle {
  font-size: 1.8rem;
  color: #c40dc4;
  margin-bottom: 2rem;
  margin-top: 2rem; }

.member_stories h2 {
  margin-bottom: 3%; }

.member_stories {
  display: grid;
  grid-template-columns: 1fr; }

figure.circle img {
  float: right;
  clip-path: circle(50%); }

figure.circle {
  shape-outside: circle(53%); }

figure.quarter img {
  float: right;
  clip-path: circle(94% at 100% 0);
  shape-outside: circle(96% at 100% 0); }

figure.bigtriangle img {
  float: right;
  clip-path: polygon(50% 0, 0 93%, 100% 93%);
  shape-outside: polygon(50% 0, 0 93%, 100% 93%);
  margin: .21rem; }

figure.corner-triangle img {
  float: right;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  shape-outside: polygon(100% 0, 0 0, 100% 100%);
  margin: .16rem; }

footer {
  display: flex;
  justify-content: center;
  background-color: lightgray; }

footer p {
  padding: 1.2rem; }

.concertpics figure {
  width: 100%;
  height: 0;
  padding-bottom: 35%;
  /* You define this doing image height / width * 100% */
  position: relative;
  margin: 0; }

.concertpics figure img {
  width: 100%;
  height: auto;
  position: absolute; }

@media only screen and (min-width: 560px) {
  nav ul li a {
    padding: .8rem 1.6rem; }

  .member_stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%; } }
@media only screen and (min-width: 960px) {
  main {
    padding-left: 1%;
    padding-right: 1%; }

  header h1 {
    padding-left: .6rem; }

  header h2 {
    padding-left: .6rem;
    padding-bottom: .8rem; }

  header h1 {
    padding-top: 3rem; }

  ul.menu li {
    width: auto;
    text-align: center; }

  ul.menu {
    padding-left: .6rem; }

  .member_stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.7%; } }
