main {
    padding-left: 1%;
    padding-right: 1%;
    
}
header h1 {
    padding-left: .4rem;

}

header h2 {
    padding-left: .4rem;
}

header h1 {
    padding-top: 1.7rem;
}

#headerwrap {
    background-image: url(../images/HeaderLarge.jpg),
    url(../images/HeaderRepeat.png);
    height: 300px;
    background-position: center, center;
    background-repeat: no-repeat, repeat;
}