/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  font-family: "Roboto Condensed"; }

/*  apply a natural box layout model to all elements  */
* {
  box-sizing: border-box; }

header,
nav,
main,
footer {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto; }

header {
  background-position-y: 55%;
  background-position-x: 90%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between; }

.wrap {
  padding-top: 3rem;
  margin-top: 3.5rem; }

#headerwrap {
  background-color: #0b0b68;
  border-top: 10px solid #3d3d3d; }

header h1 {
  font-size: 2.5rem;
  letter-spacing: -.08rem;
  padding-top: 2rem;
  margin-top: 1.6rem;
  padding-left: 2%;
  color: #fff;
  font-family: 'Noto Serif', serif;
  font-family: 'Anton', sans-serif;
  font-family: 'Fjalla One', sans-serif; }

header h2 {
  padding: 0.5rem 0;
  padding-left: 2%;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.215rem;
  font-family: 'PT Sans', sans-serif; }

nav {
  background-color: #eee; }

ul.menu {
  display: flex; }

nav ul li:first-child a {
  border-left: none; }

nav ul li a {
  border-left: 1px solid #5f5e5e;
  display: block;
  background-color: darkgray;
  color: #000;
  text-decoration: none;
  padding: 0.8rem 1rem; }

ul.menu li {
  width: 25%;
  text-align: center; }

.active a {
  background-color: #333;
  color: #fff; }

nav ul li a:hover {
  background-color: #595959;
  color: white; }

nav ul li a {
  padding: 0.8rem 0.6rem; }

main h1 {
  font-size: 2rem;
  padding-top: 2.6rem;
  padding-bottom: 1rem; }

div.flexed {
  display: flex;
  flex-wrap: wrap;
  margin: 4% 0; }

.column {
  padding: 0.5rem 0.5vw; }

.small-1 {
  flex-basis: 8.3333333333%; }

.small-2 {
  flex-basis: 16.6666666667%; }

.small-3 {
  flex-basis: 25%; }

.small-4 {
  flex-basis: 33.3333333333%; }

.small-5 {
  flex-basis: 41.6666666667%; }

.small-6 {
  flex-basis: 50%; }

.small-7 {
  flex-basis: 58.3333333333%; }

.small-8 {
  flex-basis: 66.6666666667%; }

.small-9 {
  flex-basis: 75%; }

.small-10 {
  flex-basis: 83.3333333333%; }

.small-11 {
  flex-basis: 91.6666666667%; }

.small-12 {
  flex-basis: 100%; }

#footerwrap {
  background-color: #0b0b68; }

footer {
  display: flex;
  justify-content: center; }

.social {
  display: flex;
  padding: 1rem 0; }

.social a {
  text-align: center;
  color: white;
  font-size: 3.5rem;
  text-decoration: none;
  padding: 0 1.2rem; }

.social a:hover {
  color: orange; }

figure img {
  width: 100%; }

.ctabutton {
  background-color: red;
  width: 100%;
  padding: 1.4rem 0;
  font-size: 1.5rem;
  border-radius: 6px; }

.blog img {
  width: 100%; }

.blogtext {
  background-color: lightgray;
  padding: 0 .5rem .5rem .5rem; }

.blogtext h3 {
  font-size: 1.3rem;
  margin-bottom: .5rem; }

.bio {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.bio img {
  width: 100%; }

.bio button {
  margin: 1.5rem;
  padding: .25rem 1.1rem;
  background-color: #369af8;
  font-size: .9rem;
  border-radius: 6px; }

.bio h2 {
  margin: 1.5rem 0;
  font-size: 1.3rem; }

.card {
  background-color: lightgray;
  border: .5px solid gray; }

.bloglink {
  text-align: center;
  background-color: gray;
  padding: .5rem 0; }

.tip, .faq {
  background-color: lightgray;
  padding: .5rem; }

.tip p, .faq p {
  padding: .5rem 0; }

.tip h3, .faq h3 {
  font-size: 1.3rem; }

.wrap {
  padding-right: 1%; }

.wrap input {
  height: 30px;
  width: 10rem; }

@media only screen and (min-width: 560px) {
  nav ul li a {
    padding: .8rem 1.6rem; }

  .member_stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%; }

  .medium-1 {
    flex-basis: 8.3333333333%; }

  .medium-2 {
    flex-basis: 16.6666666667%; }

  .medium-3 {
    flex-basis: 25%; }

  .medium-4 {
    flex-basis: 33.3333333333%; }

  .medium-5 {
    flex-basis: 41.6666666667%; }

  .medium-6 {
    flex-basis: 50%; }

  .medium-7 {
    flex-basis: 58.3333333333%; }

  .medium-8 {
    flex-basis: 66.6666666667%; }

  .medium-9 {
    flex-basis: 75%; }

  .medium-10 {
    flex-basis: 83.3333333333%; }

  .medium-11 {
    flex-basis: 91.6666666667%; }

  .medium-12 {
    flex-basis: 100%; } }
@media only screen and (min-width: 960px) {
  main {
    padding-left: 1%;
    padding-right: 1%; }

  header h1 {
    padding-left: .6rem; }

  header h2 {
    padding-left: .6rem;
    padding-bottom: .8rem; }

  header h1 {
    padding-top: 3rem; }

  ul.menu li {
    width: auto;
    text-align: center; }

  ul.menu {
    padding-left: .6rem; }

  .member_stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.7%; }

  .large-1 {
    flex-basis: 8.3333333333%; }

  .large-2 {
    flex-basis: 16.6666666667%; }

  .large-3 {
    flex-basis: 25%; }

  .large-4 {
    flex-basis: 33.3333333333%; }

  .large-5 {
    flex-basis: 41.6666666667%; }

  .large-6 {
    flex-basis: 50%; }

  .large-7 {
    flex-basis: 58.3333333333%; }

  .large-8 {
    flex-basis: 66.6666666667%; }

  .large-9 {
    flex-basis: 75%; }

  .large-10 {
    flex-basis: 83.3333333333%; }

  .large-11 {
    flex-basis: 91.6666666667%; }

  .large-12 {
    flex-basis: 100%; }

  .social a {
    font-size: 2.8rem; } }

/*# sourceMappingURL=styles.css.map */
