/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  
  font-family: 'Roboto Condensed', ;
}

/*  apply a natural box layout model to all elements  */
* {
  
  box-sizing: border-box;
}

header,
nav,
main,
footer {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

// Header


header {
  
  background-position-y: 55%;
  background-position-x: 90%;
  background-repeat: no-repeat;
 display: flex;
 justify-content: space-between;
}

.wrap{
  padding-top: 3rem;
  margin-top: 3.5rem;
}

#headerwrap {
  background-color: $primaryColor;
  border-top: 10px solid rgb(61, 61, 61);
}

header h1 {
  font-size: 2.5rem;
  letter-spacing: -.08rem;
  padding-top: 2rem;
  margin-top: 1.6rem;
  padding-left: 2%;
  color: #fff;
  font-family: 'Noto Serif', serif;
  font-family: 'Anton', sans-serif;
  font-family: 'Fjalla One', sans-serif;
}

header h2 {
  padding: 0.5rem 0;
  padding-left: 2%;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.215rem;
  font-family: 'PT Sans', sans-serif;
}



// Nav

nav {
  background-color: #eee;
}

ul.menu {
  display: flex;
}
nav ul li:first-child a {
  border-left: none;
}

nav ul li a {
  border-left: 1px solid rgb(95, 94, 94);
  display: block;
  background-color: darkgray;
  color: #000;
  text-decoration: none;
  padding: 0.8rem 1rem;
}

ul.menu li {
  width: 25%;
  text-align: center;
}

.active a {
  background-color: #333;
  color: #fff;
}

nav ul li a:hover {
  background-color: lighten(#333, 15%);
  color: white;
}

nav ul li a {
  padding: 0.8rem 0.6rem;
}


// Main

main h1 {
  font-size: 2rem;
  padding-top: 2.6rem;
  padding-bottom: 1rem;

}

div.flexed {
  display: flex;
  flex-wrap: wrap;
  margin: 4% 0;
}
.column {padding: .5rem $gutter;}
@for $i from 1 through 12 {
  $w:($i/12) * 100%;
  .small-#{$i}{flex-basis: $w;}
}

// main 



// Footer

#footerwrap {
  background-color: $primaryColor;
}

footer {
  display: flex;
  justify-content: center;
  
}



.social {
  
  display: flex;
  padding: 1rem 0;
  
}

.social a {
  // flex-basis: 25%;
  text-align: center;
  color: white;
  font-size: 3.5rem;
text-decoration: none;
padding: 0 1.2rem;
}

.social a:hover {
  color: orange;
}

figure img {
  width: 100%;
}

.ctabutton {
  background-color: red;
  width: 100%; 
  padding: 1.4rem 0;
  font-size: 1.5rem;
  border-radius: 6px;
  // margin-top: 3rem;
  // margin-bottom: 4rem;
}

.blog img {
  width: 100%;
}

.blogtext {
  background-color: lightgray;
  padding: 0 .5rem .5rem .5rem;
}

.blogtext h3 {
  font-size: 1.3rem;
  margin-bottom: .5rem;
}

.bio {
  text-align: center;
  
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  
  // margin: 0 .3rem;
}
.bio img {
  width: 100%;
  
}

.bio button {
  margin: 1.5rem; 
  
  padding: .25rem 1.1rem;
  // width: 50%;
  background-color: rgb(54, 154, 248);
  font-size: .9rem;
  border-radius: 6px;
}

.bio h2 {
  margin: 1.5rem 0;
  font-size: 1.3rem;
}

.card {
  // padding: 0 .5rem;
  background-color: lightgray;
  border: .5px solid gray;
}

.bloglink {
  text-align: center;
  background-color: gray;
  padding: .5rem 0;
}

.tip, .faq {
  background-color: lightgray;
  padding: .5rem;
}

.tip p, .faq p {
  padding: .5rem 0;
}

.tip h3, .faq h3 {
  font-size: 1.3rem;
}

.wrap {
  padding-right: 1%;
}

.wrap input {
  height: 30px; 
  width: 10rem;
}