/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  
  font-family: 'Roboto Condensed', ;
}

/*  apply a natural box layout model to all elements  */
* {
  
  box-sizing: border-box;
}

header,
nav,
main,
footer {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

// Header

#headerwrap {
  background-color: $primaryColor;
  border-top: 10px solid #777;
}
header {
 display: flex;
 justify-content: space-between;
 padding-bottom: 5%;
}
// search button
.wrap{
  margin-top: 1rem;
  align-self: flex-end;
  // margin-top: 3.5rem;
}


header h1 {
  font-size: 1.5rem;
  letter-spacing: -.08rem;
  padding-top: .8rem;
  margin-top: 0;
  padding-left: 2%;
  color: #fff;

  font-family: 'Fjalla One', sans-serif;
}

header h2 {
  padding: 0.5rem 0 0 0;
  padding-left: 2%;
  color: #fff;
  font-size: 1rem;
  font-size: .8rem;
  letter-spacing: 0.215rem;
  letter-spacing: .1rem;
  font-family: 'PT Sans', sans-serif;
}



// Nav

nav {
  background-color: #eee;
}

ul.menu {
  display: flex;
  flex-direction: column;
}
nav ul li:first-child a {
  border-left: none;
}

nav ul li a {
  border-left: 1px solid rgb(95, 94, 94);
  display: block;
  background-color: darkgray;
  color: #000;
  text-decoration: none;
  padding: 0.8rem 1rem;
}

ul.menu li {
  width: 100%;
  font-size: 1.4rem;
}

.active a {
  background-color: $accentColor;
  color: #fff;
}

nav ul li a:hover {
  background-color: darken($accentColor, 10%);
  color: white;
}



// Main

main h1 {
  font-size: 2rem;
  padding-top: 2.6rem;
  padding-bottom: 1rem;

}

div.flexed {
  display: flex;
  flex-wrap: wrap;
  margin: 4% 0;
}
.column {padding: .5rem $gutter;}
@for $i from 1 through 12 {
  $w:($i/12) * 100%;
  .small-#{$i}{flex-basis: $w;}
}





// Footer

#footerwrap {
  background-color: $primaryColor;
}

footer {
  display: flex;
  justify-content: center;
  
}

.social {
  
  display: flex;
  padding: 1rem 0;
  
}

.social a {
  // flex-basis: 25%;
  text-align: center;
  color: white;
  font-size: 3.5rem;
text-decoration: none;
padding: 0 1.2rem;
}

.social a:hover {
  color: lighten($color: $accentColor, $amount: 15%);
}

figure img {
  width: 100%;
}

.ctabutton {
  background-color: $primaryColor;
  width: 100%;
  padding: 1.2rem 0;
  font-size: 1.2rem;
  border-radius: 6px;
  color: #fff;

}

.blog img {
  width: 100%;

}

.blogtext {
  background-color: lightgray;
  

}

.blogtext h3 {
  font-size: 1.3rem;
  padding: .6rem;
}

.blogtext p {
  padding: .9rem .6rem;
}

.bio {
  text-align: center;
  
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  

}
.bio img {
  width: 100%;
  
}

.bio button {
  margin: 1.3rem; 
  
  padding: .9rem 1.5rem;
  // width: 50%;
  background-color: lighten($color:$accentColor, $amount: 15%);
  color: #fff;
  font-size: .7rem;
  border-radius: 6px;
  // height: 40px;
}

.bio h2 {
  margin: 1.5rem 0;
  font-size: 1.3rem;
}

.card {
  background-color: lightgray;
  border: .3px solid rgb(163, 162, 162);
}

.bloglink {
  text-align: center;
  background-color: $primaryColor;
  padding: .7rem 0;
  color: #fff;
}

.tip a:link, .faq a:link {
  color: $primaryColor;
  text-decoration: none;
}



.tip a:visited, .faq a:visited {
  color: $primaryColor;
}

.tip a:hover, .faq a:hover{
  color: $accentColor;
}

.tip, .faq {
  background-color: lightgray;
  padding: .5rem;
}

.tip p, .faq p {
  padding: .5rem 0;
  
}

.tip h3, .faq h3 {
  font-size: 1.3rem;
  color: $primaryColor;
}

.wrap {
  padding-right: 1.5%;
}

.wrap input {
  height: 40px; 
  width: 10rem;
  font-size: .8rem;
}


.logo {
  display: flex;
 flex-direction: column;
}

.buttondiv {
  margin: 0 auto;
}